@media screen and (min-width: 481px) and (max-width: 768px){
    html{
        font-size: 13px;
    }
    header{
        width: 100%;
    }
    main{
        width: 100%;
        margin: 0;
    }
    section{
        width: 100%;
    }
    #search, .hosting, #activities{
        width: 96%;
        margin: auto;
    }

    /* header */
    nav div{
        width: 95%;
        margin: auto;
    }
    nav{
        flex-direction: column;
    }
    nav div{
        margin: 2rem auto 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav ul{
        width: 100%;
        padding: 0;
    }
    nav li{
        width: 100%;
        text-align: center;
    }
    nav li a{
        border-bottom: solid #F2F2F2;
        padding: 2.125rem 0 0.8125rem 0;
    }
    .active{
        border-top: none;
        border-bottom: solid;
        padding-top: 2.125rem;
    }
    nav li a:hover{
        border-top: none;
        border-bottom: solid;
        padding-top: 2.125rem;
    }
    .sign-up{
        width: 25%;
        position: absolute;
        right: 0;
        border-bottom: none;
    }
    .sign-up:hover{
        border: none;
    }
    #sign-up{
        position: absolute;
        right: 0;
        top: 13px;
    }
    
    /* search section */
    .filters-title{
        margin-right: 1rem;
    }
    .filters-title, .filters div{
        margin-bottom: 0.8125rem;
    }
    .filters div{
        position: relative;
        left: -1.3rem;
    }

    /* hosting */
    #hosting{
        flex-direction: column-reverse;
        width: 100%;
        margin-bottom: 0;
    }
    /* popular section */
    .most-popular{
        width: 100%;
        padding-bottom: 0.975rem;
        border-radius: 0;
    }
    .title-popular, .cards-popular{
        width: 95%;
        margin: auto;
    }
    .cards-popular{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .card-popular{
        margin-bottom: 1rem;
        width: 47%;
    }
    .card-thumb-pop{
        width: 45%;
    }
    /* hosting section */
    .hosting{
        background-color: #FFF;
        padding-top: 0;
    }
    .cards-hosting{
        padding: 0;
    }
    .card-hosting{
        width: 47%;
        margin-bottom: 1rem;
    }

    /* Activities section */
    .title-activities h3{
        margin-top: 0;
    }
    .cards-activities{
        justify-content: space-between;
        margin-bottom: 1.5rem;
    }
    .cards-activities-column-left, .cards-activities-column-right{
        flex-wrap: wrap;
    }
    .card-l, .card-m, .card-s{
        height: 11.8125rem;
        margin-bottom: 5%;
    }
    .card-l, .cards-activities-2{
        width: 95%;
    }
    .card-thumb-activities{
        height: 8.125rem;
    }

    /* footer section */
    .footer-container ul{
        padding-left: 1rem;
    }
}